
.admin-section .side-bar-nav {
  width: 300px;
}

.admin-section .border-container {
  width: 300px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

td {
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.claim-info-det {
  width: 500px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.field {
  border-radius: 5px;
background: rgba(209, 209, 209, 0.30);
}

.layer {
      background: #00000073;
}

.claim-pop-card {
  height: fit-content;
}