.withdrawal-section .side-bar-nav {
  width: 300px;
}

.withdrawal-section .border-container {
  width: 300px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.withdrawal-section .img-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: grid;
  place-items: center;
}
.withdraw-request td {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.status-card {
  width: 70px;
  height: 20px;
  font-size: 12px;
  padding: 0 5px;
}

.withdraw-info-det {
  width: 500px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.p-2-5 {
  padding: 0.7rem;
}

.end-30 {
  right: -25px;
}

@media (max-width:1570px) {
  .flex-column-1570 {
    flex-direction: column;
    align-items: center;
  }

  .withdraw-info-det  {
    margin-top: 30px;
  }

  .min-1570 {
    right: 336px;
    rotate: z 90deg;
    top: 246px!important;

  }
}