:root {
  --primary: #ff5103;
}

.primary {
  background: var(--primary);
}

/* 1.////////////////////////////////// */
.intro-section {
  /* position: relative; */
}

.intro-section h1 {
  color: #000;
  font-family: Inter;
  font-size: 60px;
  font-weight: 700;
  max-width: 625px;
}
.intro-section p {
  color: #595959;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  max-width: 707px;
  /* height: 47px;
  flex-direction: column;
  flex-shrink: 0; */
  /* position: absolute;
  bottom: 50px; */
}
.intro-section img {
  width: 456px;
  height: 302px;
}

@media (max-width: 992px) {
  .intro-section h1 {
    font-size: 45px;
  }

  .intro-section p {
    font-size: 17px;
  }
}

@media (max-width: 767px) {
  .intro-section {
    text-align: center;
  }
}

/* /////////////////////////////////////////////////////////// */
/* 2 Search Section */
.search-box-section {
  /* width: 75%; */
}
.search-box-section input {
  padding-right: 10rem;
}

.search-box-section .search-content {
  width: 65%;
}

.search-box-section button {
  padding-left: 3rem;
  padding-right: 3rem;
}

.search-box-section .search-result span {
  font-size: 0.8rem;
}

@media (max-width: 992px) {
  .search-box-section .search-content {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .search-box-section input {
    padding-right: 5.5rem;
  }

  .search-box-section button {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* /////////////////////////////////////////////////////////// */
/* 3 Featured Charities */
.feature-non-profit-section .non-profit-card {
  width: 270px;
  height: 300px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
}
.feature-non-profit-section .circle-rounded {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.feature-non-profit-section .circle-rounded img {
  width: 65px;
  height: 65px;
}
.feature-non-profit-section .non-profit-card p {
  display: -webkit-box;
  max-width: 150px;
  margin: 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: var(--font-fam-inter);
  font-size: 18px;
  color: #3f3f3f;
}

@media (max-width: 1199px) {
  .feature-non-profit-section .non-profit-card {
    width: 220px;
    height: 270px;
  }

  .feature-non-profit-section .circle-rounded {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 991px) {
  .feature-non-profit-section .non-profit-card {
    width: 166px;
    height: 230px;
    margin: 0 0.5rem 1rem 0;
  }

  /* .feature-non-profit-section .circle-rounded {
    height: 120px;
    width: 120px;
  } */
}

@media (max-width: 767px) {
  .justify-content-sx-center {
    justify-content: center;
  }

  .feature-non-profit-section .non-profit-card {
    width: 215px;
    height: 230px;
  }
}

@media (max-width: 469px) {
  .feature-non-profit-section .non-profit-card {
    width: 190px;
    height: 210px;
  }
}

@media (max-width: 469px) {
  .feature-non-profit-section .non-profit-card {
    width: 270px;
    height: 230px;
  }
}

/* //////////////////////////////////////////////// */
/* 4 How it works */
.w-fit-content {
  width: fit-content;
}

/* //////////////////////////////////////////////// */
/* 5 Ready to work with us */

@media (max-width: 991px) {
  .ready-to-start-section {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .float-item-end {
    float: right;
  }
}

/* .charity-default-container {
  max-width: 90%;
  margin: auto;
  padding: 0 0.5rem;
} */

/* .flex-sx-column {
  flex-direction: column;
  align-items: center;
}

.intro-section {
  position: relative;
  min-height: 430px;
  max-height: 550px;
}
.intro-section h1 {
  font-weight: 700;
  font-size: 2.3rem;
}
.intro-section img {
  width: 450px;
}
.intro-section span {
  position: absolute;
  padding-left: 0.5rem;
  bottom: 0;
  font-size: 0.9rem;
  color: grey;
}

@media (min-width: 336px) {
  .intro-section {
    min-height: 470px;
  }
}

@media (min-width: 768px) {
  .intro-section {
    min-height: 300px;
  }
  .intro-section span {
    position: absolute;
    padding-left: -0;
    bottom: 26px;
    font-size: 0.9rem;
    max-width: 345px;
  }
}

@media (min-width: 861px) {
  .intro-section span {
    bottom: 60px;
    max-width: 386px;
  }
}

@media (min-width: 900px) {
  .intro-section h1 {
    font-size: 2.5rem;
  }
  .intro-section span {
    max-width: 445px;
    bottom: 75px;
  }
} */
/* -------------------------------------------------------------- */
/* .intro-section {
  position: relative;
} */

/* .intro-section h1 {
  color: #000;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  max-width: 625px;
  height: 232px;
  flex-direction: column;
  flex-shrink: 0;
}
.intro-section p {
  color: #595959;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  max-width: 707px;
  height: 47px;
  /* flex-direction: column;
  flex-shrink: 0; */
/* position: absolute;
  bottom: 50px; */
/* } */
/* .intro-section img {
  width: 456px;
  height: 302px;
} */
/* ////////////////////////////////////////////////////// */
/* 2 Search Section */

/* @media (min-width: 767px) {
  .w-md-50 {
    width: 70% !important;
  }
} */

/* ////////////////////////////////////////////////////// */
/* 3 feature-non-profit-section */
/* .feature-non-profit-section {
  background: green;
} */

/* .feature-non-profit-section .pro-container { */
/* background: pink; */
/* } */
/* 
.feature-non-profit-section .pro-container .non-profits-container { */
/* background: red; */
/* }
.feature-non-profit-section
  .pro-container
  .non-profits-container
  .non-profit-card {
  min-width: 200px;
  min-height: 220px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  margin: 0 0.5rem 1rem 0;
}
.feature-non-profit-section
  .pro-container
  .non-profits-container
  .non-profit-card
  .circle-rounded {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
.feature-non-profit-section
  .pro-container
  .non-profits-container
  .non-profit-card
  .circle-rounded
  img {
  width: 65px;
  height: 65px;
}
.feature-non-profit-section
  .pro-container
  .non-profits-container
  .non-profit-card
  p {
  display: -webkit-box;
  max-width: 100px;
  margin: 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: var(--font-fam-inter);
  font-size: 15px;

  color: #3f3f3f;
}

@media (max-width: 432px) {
  .justify-content-sx-center {
    justify-content: center !important;
  }

  .feature-non-profit-section
    .pro-container
    .non-profits-container
    .non-profit-card
    .circle-rounded {
    height: 100px;
    width: 100px;
  }

  .feature-non-profit-section
    .pro-container
    .non-profits-container
    .non-profit-card
    .circle-rounded
    img {
    width: 45px;
    height: 50px;
  }

  .feature-non-profit-section
    .pro-container
    .non-profits-container
    .non-profit-card {
    min-width: 125px;
    min-height: 180px;
    margin: 0 0.5rem 1rem 0;
  }
} */

/* ////////////////////////////////////////////////////// */
/* 3 How to fund nonprofit on Crowdfrica */
/* .how-to-fund-section {
}

.how-to-fund-section .how-to-item {
} */

/* ////////////////////////////////////////////////// */
/* 4  */
/* .ready-to-start-section {
}

.ready-to-start-section .ready-container {
}
.ready-to-start-section .ready-container .ready-container-content p {
  width: 500px;
}
.ready-to-start-section .ready-container .ready-container-content button {
  width: 200px;
}

.ready-to-start-section .ready-container img {
  width: 300px;
}

@media (max-width: 576px) {
  .flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }
} */
