<div class="giving-page">
  <input  />
  <%# /////////////////////////////////////////////////// Banner Section 1
    /////////////////////////////////////////////////////////////// %>
    <div class='giving-banner d-flex align-items-center'>
      <div class='giving-banner-layer'></div>
      <div class='container page-align text-white position-relative text-center d-flex flex-column align-items-center'>
        <h1 class="m-0 mb-4 fw-bold ">You can start <span class="m-0 fw-bold" id="givingFeatures">Birthday</span> for a
          campaign</h1>
        <p class="m-0 banner-p-text">Create a Giving page to reconnect with friends and families or bring together
          people with common interests to support patients, public school teachers with their classroom projects, and
          universal health coverage for poor communities</p>
      </div>
    </div>
    <%# /////////////////////////////////////////////////// Section 2
      /////////////////////////////////////////////////////////////// %>
      <div class="custom-donation ">
        <div class="d-flex flex-column page-align container  ">
          <h3 class='mb-5 fw-bold text-center'>Select a Crowdfrica community you want to start</h3>
          <div class="custom-donation-card-buttons">
            <%= link_to new_custom_page_path(page: "celebrations" ), class: "donation-card" do %>
              <%= image_tag("icon_celebration.svg", class: "svg_hover" ) %>
                <span>Celebration</span>
                <% end %>
                  <%= link_to new_custom_page_path(page: "individual" ), class: "donation-card" do %>
                    <%= image_tag("individual_svg.svg", class: "svg_hover" ) %>
                      <span>Individual</span>
                      <% end %>
                        <%= link_to new_custom_page_path(page: "business" ), class: "donation-card" do %>
                          <%= image_tag("business.svg", class: "svg_color" ) %>
                            <span>Business</span>
                            <% end %>
                              <%= link_to new_custom_page_path(page: "in memory" ), class: "donation-card" do %>
                                <%= image_tag("memory.svg", class: "svg_hover" ) %>
                                  <span>In Memory</span>
                                  <% end %>
                                    <%= link_to new_custom_page_path(page: "community" ), class: "donation-card" do %>
                                      <%= image_tag("communities.svg", class: "svg_hover" ) %>
                                        <span>Community</span>
                                        <% end %>
          </div>
        </div>
      </div>
      <%# /////////////////////////////////////////////////// Section 3 How it works
        /////////////////////////////////////////////////////////////// %>
        <div class='container page-align'>
          <div class='giving-steps py-3'>
            <div class='heading'>
              <h3 class='h4-width text-center mb-5 fw-bold'>Join or Create to raise funds to <span
                  class='fw-bold'>support Campaigns</span> on Crowdfrica.</h3>
            </div>
            <div class='d-flex flex-lg-row flex-sx-column flex-sm-column justify-content-between'>
              <div class="step-container d-flex flex-column align-items-center mb-4">
                <div class='step-number text-center p-2 fw-bold fs-4'>
                  <%= image_tag("step1.png", class:'img-fluid' ) %>
                </div>
                <h6 class='fw-bold mt-3'>Pick a Campaign</h6>
                <p class='m-0 text-center'>Select a campaign of your choice or a friends to support</p>
              </div>
              <div class="step-container d-flex flex-column align-items-center mb-4">
                <div class='step-number text-center p-2 fw-bold fs-4'>
                  <%= image_tag("step2.png", class:'img-fluid' ) %>
                </div>
                <h6 class='fw-bold mt-3'>Personal Message</h6>
                <p class='m-0 text-center'>Include a personal message</p>
              </div>
              <div class="step-container d-flex flex-column align-items-center mb-4">
                <div class='step-number text-center p-2 fw-bold fs-4'>
                  <%= image_tag("step3.png", class:'img-fluid' ) %>
                </div>
                <h6 class='fw-bold mt-3'>Your impact!</h6>
                <p class='m-0 text-center'>You get updates and see your impact!</p>
              </div>
            </div>
          </div>
        </div>
        <%# /////////////////////////////////////////////////// Section 4 Feature giving pages
          /////////////////////////////////////////////////////////////// %>
          <div class='giving-page-featured-bg'>
            <div class='container page-align'>
              <div class='container giving-page-featured'>
                <div class='heading'>

                  <h3 class='h4-width text-center mb-5 fw-bold'>Featured <span class='fw-bold'>Communities</span> on
                    Crowdfrica</h3>
                </div>
                <div class='d-flex justify-content-between flex-wrap align-items-center'>
                  <div class="card feature-card mb-3">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                      <%= image_tag("vc4a.png",class:'mb-3' ) %>
                        <h6 class="card-title text-center">Mighty Makers</h6>
                    </div>
                  </div>
                  <div class="card feature-card mb-3">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                      <%= image_tag("vc4a.png",class:'mb-3' ) %>
                        <h6 class="card-title text-center">Mighty Makers Dev Mighty Makers Dev</h6>
                    </div>
                  </div>
                  <div class="card feature-card mb-3">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                      <%= image_tag("vc4a.png",class:'mb-3' ) %>
                        <h6 class="card-title text-center">Mighty Makers Dev</h6>
                    </div>
                  </div>
                  <div class="card feature-card mb-3">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                      <%= image_tag("vc4a.png",class:'mb-3' ) %>
                        <h6 class="card-title text-center">Mighty Makers Dev Mighty Makers Dev</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%# /////////////////////////////////////////////////// Section 5 Trending communities
            /////////////////////////////////////////////////////////////// %>
            <div class='container page-align '>
              <div class='trending-pages'>
                <div class='heading'>
                  <h3 class='text-start mb-5 fw-bold'> <span class='fw-bold'>Trending</span> Communities</h3>
                </div>
                <div class="d-flex flex-wrap justify-content-center">
                  <div class="campaign-card-small text-start mb-3 me-2">
                    <div class="campaign-img">
                      <%= image_tag("vc4a.png", class:'me-3' ) %>
                    </div>
                    <div class="campaign-title px-2 pt-2">
                      <h6>Mighty Makers</h6>
                    </div>
                    <div class="campaign-brief px-2 pt-2">
                      <p class='mb-3'>I have created a giving page to support Crowdfrica's mission of providing
                        universal healthcare, life-changing medical treatment, I have created a giving page to support
                        Crowdfrica's mission of providing universal healthcare, life-changing medical treatment</p>
                    </div>
                    <div class="campaign-data text-center px-2">
                      <button class='btn bg-warning w-100 mb-3'>Donate</button>
                      <button class='btn bg-success text-white w-100'>Visit page</button>
                    </div>
                  </div>
                  <div class="campaign-card-small text-start mb-3 me-2">
                    <div class="campaign-img">
                      <%= image_tag("vc4a.png", class:'me-3' ) %>
                    </div>
                    <div class="campaign-title px-2 pt-2">
                      <h6>Mighty Makers</h6>
                    </div>
                    <div class="campaign-brief px-2 pt-2">
                      <p class='mb-3'>I have created a giving page to support Crowdfrica's mission of providing
                        universal healthcare, life-changing medical treatment, I have created a giving page to support
                        Crowdfrica's mission of providing universal healthcare, life-changing medical treatment</p>
                    </div>
                    <div class="campaign-data text-center px-2">
                      <button class='btn bg-warning w-100 mb-3'>Donate</button>
                      <button class='btn bg-success text-white w-100'>Visit page</button>
                    </div>
                  </div>
                  <div class="campaign-card-small text-start mb-3 me-2">
                    <div class="campaign-img">
                      <%= image_tag("vc4a.png", class:'me-3' ) %>
                    </div>
                    <div class="campaign-title px-2 pt-2">
                      <h6>Mighty Makers</h6>
                    </div>
                    <div class="campaign-brief px-2 pt-2">
                      <p class='mb-3'>I have created a giving page to support Crowdfrica's mission of providing
                        universal healthcare, life-changing medical treatment, I have created a giving page to support
                        Crowdfrica's mission of providing universal healthcare, life-changing medical treatment</p>
                    </div>
                    <div class="campaign-data text-center px-2">
                      <button class='btn bg-warning w-100 mb-3'>Donate</button>
                      <button class='btn bg-success text-white w-100'>Visit page</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%# /////////////////////////////////////////////////// Section 6 Impact Stories
              /////////////////////////////////////////////////////////////// %>
              <div class='container'>
                <section class="story-sect">
                  <div class="row">
                    <div class="col-md-6 col-sm-12 story-abt-team">
                      <h4 class='fw-semibold'>Impact Stories</h4>
                      <div class="story-abt-team2">
                        To date over 1000 people have been funded and given access to life-changing healthcare on
                        crowdfrica.org and 2000 people have been educated on community health issues and health
                        insurance.
                      </div>
                      <div class="btn-box">
                        <a href="https://www.flickr.com/photos/137843048@N05" id="story-btn" class="btn text-white"
                          role="button">Impact Stories</a>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12 success-stories">
                    </div>
                  </div>
                </section>
              </div>
              <%# /////////////////////////////////////////////////// Section 7 Leader board
                /////////////////////////////////////////////////////////////// %>
                <div class="container page-align ">
                  <div class="giving-leader-board">
                    <div class="dashboard-section d-flex flex-column align-items-center">
                      <h3 class='fw-bold text-center mb-5'>Communities <span class="fw-bold">Leader board</span></h3>
                      <table class="table">
                        <thead class='bg-light'>
                          <tr class=''>
                            <th scope="col" class='table-top-left fw-bold  py-3'>Communities</th>
                            <th scope="col" class='fw-bold py-3 members-row'>Members</th>
                            <th scope="col" class='table-top-right fw-bold py-3'>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row" class='d-flex'>
                              <%= image_tag("vc4a.png", class:'me-3' ) %>
                                <div>
                                  <p class='m-0'>Mighty Makers Dev</p>
                                  <span class='giving-page-type'>Celebration</span>
                                </div>
                            </th>
                            <td class='members-row my-auto'>30</td>
                            <td>$ 22,000</td>
                          </tr>
                          <tr>
                            <th scope="row" class='d-flex'>
                              <%= image_tag("vc4a.png", class:'me-3' ) %>
                                <div>
                                  <p class='m-0'>Mighty Makers Dev</p>
                                  <span class='giving-page-type'>Celebration</span>
                                </div>
                            </th>
                            <td class='members-row my-auto'>30</td>
                            <td>$ 22,000</td>
                          </tr>
                          <tr>
                            <th scope="row" class='d-flex'>
                              <%= image_tag("vc4a.png", class:'me-3' ) %>
                                <div>
                                  <p class='m-0'>Mighty Makers Dev</p>
                                  <span class='giving-page-type'>Celebration</span>
                                </div>
                            </th>
                            <td class='members-row my-auto'>30</td>
                            <td>$ 22,000</td>
                          </tr>
                          <tr>
                            <th scope="row" class='d-flex'>
                              <%= image_tag("vc4a.png", class:'me-3' ) %>
                                <div>
                                  <p class='m-0'>Mighty Makers Dev</p>
                                  <span class='giving-page-type'>Celebration</span>
                                </div>
                            </th>
                            <td class='members-row my-auto'>30</td>
                            <td>$ 22,000</td>
                          </tr>
                          <tr>
                            <th scope="row" class='d-flex'>
                              <%= image_tag("vc4a.png", class:'me-3' ) %>
                                <div>
                                  <p class='m-0'>Mighty Makers Dev</p>
                                  <span class='giving-page-type'>Celebration</span>
                                </div>
                            </th>
                            <td class='members-row my-auto'>30</td>
                            <td>$ 22,000</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
</div>